<h1>Tous mes profs</h1>
<ul>
  <% @teachers.each do |teacher| %>
  <li><%= link_to teacher.first_name, school_teacher_path(:id => teacher.id) %></li>
  <% end %>
</ul>

<% if @school.school_id == nil  %>
  <%= link_to "Créer un nouveau prof pour l'ecole", new_school_teacher_path %>
<% end  %>
<%= link_to "Acceder au listing des ecoles", root_path %>
