<ul>
  <% @schools.each do |school| %>
    <li><%= school.name %></li>
    <li><%= school.id %></li>
    <%= link_to "Créer vos sites suppémentaires", schools_new_path(:school_id => school.id) %>
  <% end %>
</ul>

<%= link_to "Créer votre école", schools_new_path %>
